/* Анимация */
@keyframes showRight {
    from {right:-100%;}
    to {right:0;}
}

@keyframes showLeft {
    from {left:-100%;}
    to {left:0;}
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    transition: 0.1s;
}

body{
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 150%;
    
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color: #000;
}

a:active {
    text-decoration: none;
    color: #444;
}

.wrap{
   overflow: hidden;
   min-width: 320px;
}

.introduce{
    position: fixed;
    top: 25%;
    left: 10%;
    right: 10%;
}

.introduce p{
    text-align: center;
    margin-top: 1%;
}

p.a, p.c{
    position: relative;
    animation: showLeft 1s;
}

p.b{
    position: relative;
    animation: showRight 1s;
}

.next{
    position: relative;
    text-align: center;
    margin-top: 5%;
}

.trigger{
    position: relative;
    animation: showRight 1s;
    cursor: pointer;
    margin-top: 10px;
}

.trigger:hover{
    transition: 0.5s;
    color:#555;
}

.content{
    width: 80%;
    display: none;
    top: 12%;
    left: 10%;
    position: absolute;
}

.blockinfo{
    border: 2px solid;
    margin-bottom: 20px;
    padding: 80px;
    cursor: pointer;
}

.back {
    position: fixed;
    top: 20px;
    left: 30px;
    right: 0;
}

.back:hover {
    cursor: pointer;
}

.info, .mb, .mp {
    display: none;
    margin-left: 15%;
    margin-right: 15%;
    overflow: visible;
}

.info a {
    float: left;
    margin-bottom: 2%;
}

.infotext{
    margin-bottom: 5px;
}

.pic {
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.pic img {
    width: 100%;
    height: 100%;
    max-height: 80vh;
    max-width: 90vh;
}

#toTop {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    background: url("../images/arrows.png") no-repeat;
    background-size: 100%;
}

.back {
    width: 45px;
    height: 45px;
    position: fixed;
    cursor: pointer; 
    background: url("../images/arrows.png") no-repeat;
    transform: rotate(270deg);
    background-size: 100%;
    left: 5%;
    top: 1%;
}

#toTop:hover {
    opacity: 0.5;
}

/* Медиа запросы */

@media screen and (max-width: 1458px){
    .content {top: 10%;}
}

@media screen and (max-width: 1420px){
    .blockinfo {padding: 70px;}
}

@media screen and (max-width: 1045px){
    .content {top: 10%;}
}

@media screen and (max-width: 470px){
    .introduce {left: 5%; right: 5%; top: 10%; font-size: 20px;}
}

@media screen and (max-width: 870px){
    .content {top: 3%;}
}

@media screen and (max-width: 860px){
    .introduce {top: 10%;}
}

@media screen and (max-width: 840px){
    .blockinfo {padding: 60px;}
}

@media screen and (max-device-width: 1100px) {
    .introduce {top: 10%;}
}

@media screen and (max-device-width: 600px) {
    .introduce {left: 5%; right: 5%; top: 10%; font-size: 40px;}
    .info, .mp, .mb {font-size: 45px;}
    .wrap {overflow-x: visible !important; overflow-y: hidden !important;}
    #toTop, .back {width: 90px; height: 90px;}
    .back {left: 2%;}
    #toTop:hover {opacity: 1;}
}

@media only screen and (max-device-width: 471px) {
    .introduce {font-size: 45px;}
    .content {top: 5%;}
}

@media only screen and (max-device-width: 750px) {
    .blockinfo {font-size: 45px;}
}